---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import GalleryItem from "../components/GalleryItem.astro";
import { cuadros } from "../data/cuadros.js";
---

<Layout title="Galería - Tito Arte">
    <Header />
    <main class="p-8">
        <h1 class="text-4xl font-bold text-center mb-8">Mis obras</h1>
        <section
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto"
        >
            {cuadros.map((cuadro) => <GalleryItem {...cuadro} />)}
        </section>
    </main>
</Layout>
