---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
---

<Layout>
	<Header />
	<main class="text-center p-16">
		<h1 class="text-4xl mb-4">Tito – Arte Urbano</h1>
		<p class="max-w-xl mx-auto text-lg">
			Obras originales e impresiones inspiradas en el arte callejero,
			graffiti y la ciudad en movimiento. Hecho con pasión, desde el alma
			urbana.
		</p>
		<Button href="/galeria" label="Ir a la galería de arte urbano" />
	</main>
</Layout>
