<header
    class="bg-black text-white py-4"
>
    <h2>Mi Arte Urbano</h2>
    <nav
        style="margin-top: 0.5rem; display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;"
    >
        <a href="/" style="margin: 0 1rem; color: white;">Inicio</a>
        <a href="/galeria" style="margin: 0 1rem; color: white;">Galería</a>
        <a href="/contacto" style="margin: 0 1rem; color: white;">Contacto</a>
    </nav>
</header>
